<ActionBar class="bg-primary">
    <Label text="REGISTER"></Label>
</ActionBar>
<ScrollView>
    <StackLayout>
        <Image src="res://logodark" style="width: 200px; margin-top: 200px;"></Image>
        <RadDataForm #registerAccountDataForm [source]="loginUser" commitMode="Manual" style="margin-top: 100px;">
            <TKEntityProperty tkDataFormProperty name="email" displayName="E-mail" index="0">
                <TKPropertyEditor tkEntityPropertyEditor type="Email"></TKPropertyEditor>
                <TKEmailValidator tkEntityPropertyValidators></TKEmailValidator>
            </TKEntityProperty>
            <TKEntityProperty tkDataFormProperty name="password" displayName="Password" index="1">
                <TKPropertyEditor tkEntityPropertyEditor type="Password"></TKPropertyEditor>
                <TKMinimumLengthValidator tkEntityPropertyValidators errorMessage="Password must be at least 6 characters long." length="6">
                </TKMinimumLengthValidator>
            </TKEntityProperty>
        </RadDataForm>
        <StackLayout orientation="horizontal" style="margin-left: 30px; margin-top: 35px;">
            <label text="I agree with terms" style="vertical-align: middle; font-size: 14px; width: 70%;"></label>
            <Switch checked="true" (checkedChange)="onAccountCheckedChange($event)" style="width : 20%;" color="red" backgroundColor="#c62828" offBackgroundColor="gray"></Switch>
          </StackLayout>
        <Button *ngIf="isAccountFormReady" text="CREATE ACCOUNT" (tap)="validateAccountCreation()" style="margin-top: 30px; color: white; font-weight: 800;" class="bg-primary"></Button>
    </StackLayout>
</ScrollView>

