<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Settings"></Label>
</ActionBar>

<BottomNavigation>
    <TabStrip>
        <TabStripItem class="navigation__item">
            <!--
                Note TabStripItem will only accept single Label and/or single Image elements that it
                will "adopt"; any other layout elements you try to specify will be ignored
            -->
            <Label text="Home"></Label>
            <Image src="font://&#xf015;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Browse"></Label>
            <Image src="font://&#xf1ea;" class="far t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Search"></Label>
            <Image src="font://&#xf002;" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
		<GridLayout class="page__content">
			<StackLayout orientation="vertical">
				<Image class="m-30"
					src="https://www.hpb.health.gov.lk/assets/img/logo.png">
				</Image>
				<Label style="padding-left:50px" class="h3"
					text="It has survived not only five centuries, but also the leap into electronic industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley f type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronictypesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containingLorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of LoremIpsum">
				</Label>
				<ScrollView orientation="vertical" style="height: 950px">
					<StackLayout orientation="vertical">
						<Label text="Symptoms" class="h3"
							style="padding-left:50px; padding-top:50px">
						</Label>
						<ScrollView orientation="horizontal"
							style="height: 350px">
							<GridLayout class="m-15"
								columns="auto auto auto auto">
								<Image col="0" class="h3 m-15"
									src="https://www.hpb.health.gov.lk/media/feature/quarantine-icon.png">
								</Image>
								<Image col="1" class="h3 m-15"
									src="https://www.hpb.health.gov.lk/media/feature/advices-people-icon.png">
								</Image>
								<Image col="2" class="h3 m-15"
									src="https://www.hpb.health.gov.lk/media/feature/protect-yourself-icon.png">
								</Image>
								<Image col="3" class="h3 m-15"
									src="https://www.hpb.health.gov.lk/media/feature/statistics-icon.png">
								</Image>
							</GridLayout>
						</ScrollView>
						<Label text="Symptoms" class="h3"style="padding-left:50px;  padding-top:50px"></Label>
						<ScrollView orientation="horizontal" style="height: 350px;">
							<GridLayout class="m-15"
								columns="auto auto auto auto">
								<Image col="0" class="h3 m-15"
									src="https://www.hpb.health.gov.lk/media/feature/protect-yourself-icon.png">
								</Image>
								<Image col="1" class="h3 m-15"
									src="https://www.hpb.health.gov.lk/media/feature/statistics-icon.png">
								</Image>
								<Image col="2" class="h3 m-15"
									src="https://www.hpb.health.gov.lk/media/feature/protect-yourself-icon.png">
								</Image>
								<Image col="3" class="h3 m-15"
									src="https://www.hpb.health.gov.lk/media/feature/statistics-icon.png">
								</Image>
							</GridLayout>
						</ScrollView>
						<Button style="background-color: red; color : white"
							text="Take Questionnaire">
						</Button>
					</StackLayout>
				</ScrollView>
			</StackLayout>
		</GridLayout>
    </TabContentItem>

    <TabContentItem>
        <GridLayout class="page__content">
			<label text="Hello"></label>
		</GridLayout>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="searchTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>

