<StackLayout orientation="vertical">
    <ScrollView orientation="vertical" style="height: 1200px">
        <StackLayout orientation="vertical">
            <Image class="m-15 image-thumbnail" [src]="epidemicProfile?.photoURL"></Image>
            <Label textWrap="true" class="h3 m-15" [text]="epidemicProfile?.description"></Label>

            <Label text="Precautions" class="h3 m-15" style="padding-top:50px"></Label>
            <ScrollView orientation="horizontal" style="height: 300px">
                <GridLayout [columns]="precautionColumns">
                    <Image [col]="p" class="h3 m-15 image-thumbnail" *ngFor="let precaution of precautions; let p = index" [src]="precaution?.photoURL"></Image>
                </GridLayout>
            </ScrollView>

            <Label text="Symptoms" class="h3 m-15" style="padding-top:50px"></Label>
            <ScrollView orientation="horizontal" style="height: 300px">
                <GridLayout [columns]="symptomColumns">
                    <Image [col]="s" class="h3 m-15 image-thumbnail" *ngFor="let symptom of symptoms; let s = index" [src]="symptom?.photoURL"></Image>
                </GridLayout>
            </ScrollView>

        </StackLayout>
    </ScrollView>
</StackLayout>
